@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey background */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #07608c; /* Main color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #05486e; /* Darker shade on hover */
  }